* {
    margin: 0;
    padding: 0;
}

html,
body {
    
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;

}

.background {
    
    width: 100%;
    height: 100%;
    background-image: url(pics/portBack2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
    opacity: .75;
    
}

.column1 {
    transform-origin: center;
    width: 20%;
    padding: 30px;
    text-align: center;
}

.nav {
    width: 350px;
    height: auto;
    position: absolute;
    top: 20%;
    right: 0;

}

.nav a {
    text-decoration: none;
    font-size: 30px;
    font-family: ;
    font-weight: bold;
    display: inline-block;
    height: 90px;
    margin: 15px 0;
    float: right;
    background-color: #205566;
    color: antiquewhite;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

a.active,
.nav a:hover {
    background-color: antiquewhite;
    color: #205566;
    width: 100%;
}

.a {
    width: 95%;
}

.b {
    width: 85%;
}

.c {
    width: 80%;
}

.d {
    width: 90%;
}

.content {
    position: absolute;
    width: 930px;
    height: 500px;
    height: auto;
    /*background-color: red;*/
    left: 0;
    top: 10%;
}

.home {
    position: absolute;
    left: 75px;
    bottom: -675px;
    color: antiquewhite;
    font-family: ;
}

.home h1 {
    font-size: 95px;
    padding-left: 25px;
    border-bottom: 1px solid antiquewhite;
    text-transform: uppercase;
}

.home h3 {
    font-size: 30px;
    padding: 5px 0 0 50px;
    opacity: 0.5;
}

.about {
    position: absolute;
    padding: 0 60px;
    background-color: #205566;
    opacity: .95;
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    float: right;
    margin-left: 20%;
    overflow-y: auto;
    margin-top: .5%;
    height: 500px;
    width: 750px;
    overflow-y: scroll;
}

.about p {
    font-size: 28px;
    line-height: 35px;
    color: antiquewhite;
    margin-bottom: 10px;
    margin-top: 30px;
    text-indent: 60px;
    font-family: serif;
}

.contact {
    position: absolute;
    padding: 0 50px;
    background-color: #205566;
    opacity: .95;
    display: none;
    border: 1px solid black;
    border-radius: 100px;
    float: right;
    margin-left: 15%;
    overflow-y: auto;
    margin-top: 175px;
    margin-left: 145px;
}



.column {
    float: left;
    width: 20%;
    padding: 30px;
    text-align: center;
    padding-right: 61px;
}

.figcaps {
    margin-left: : 15px;
    color: antiquewhite;
    font-size: 30px;
    font-family: serif;
    text-decoration: none;
    margin-top: 5px;
}

.figcaps:visited {
    color: antiquewhite;
}

.home2 {
    -webkit-transform-origin: bottom left;
    position: fixed;
    left: 25px;
    padding-top: 525px;
    color: antiquewhite;
    font-family: ;
}

.home2 h1 {
    font-size: 70px;
    padding-left: 25px;
    border-bottom: 1px solid antiquewhite;
    text-transform: uppercase;
}

.home2 h3 {
    font-size: 30px;
    padding: 5px 0 0 50px;
    opacity: 0.5;
}

.projects {
    position: absolute;
    padding: 0 60px;
    background-color: #205566;
    opacity: .95;
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    margin-left: 15%;
    overflow-y: auto;
    margin-top: .5%;
    height: 500px;
    width: 850px;
    overflow-y: scroll;
}

.projects p {
    font-size: 28px;
    line-height: 35px;
    color: antiquewhite;
    margin-bottom: 10px;
    margin-top: 30px;
    text-indent: 60px;
    font-family: serif;
}

.row {
    display: flex;
    align-content: center;
    padding-left: 85px;
}

.row1 {
    display: flex;
    object-position: fixed;
    align-content: center;
    padding-left: 225px;
   
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: antiquewhite;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}
